footer.footer
        .wrapper
            a.footer__logo(href="index.html")  
                img.footer__logo-img(src="img/logo.png", alt="логотип")
                h2.footer__logo-text Misocial 
            ul.footer__menu
                li.footer__item
                    a.footer__link(href="#") Home
                li.footer__item
                    a.footer__link(href="#")  Why MISOCIAL 
                li.footer__item
                    a.footer__link(href="#") Features
                li.footer__item
                    a.footer__link(href="#") Articles
                li.footer__item
                    a.footer__link(href="#") Pricing
                li.footer__item
                    a.footer__link--bordered(href="#") Get started
        .border
            .wrapper
                .border__text
                    p.border__title © 2017 Mass Impressions & Tranmautritam. Make the right impression.
                    svg.hidden(width='0' height='0')
                        symbol#facebook( xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32')
                            path(d='M21.95 5.005l-3.306-.004c-3.206 0-5.277 2.124-5.277 5.415v2.495H10.05v4.515h3.317l-.004 9.575h4.641l.004-9.575h3.806l-.003-4.514h-3.803v-2.117c0-1.018.241-1.533 1.566-1.533l2.366-.001.01-4.256z')
                svg.icon
                    use(xlink:href='#facebook')
                svg.hidden(width='0' height='0')
                    symbol#twitter(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24')
                        path(d='M19.83 8.00001C19.83 8.17001 19.83 8.35001 19.83 8.52001C19.8393 10.0302 19.5487 11.5272 18.9751 12.9242C18.4014 14.3212 17.5562 15.5904 16.4883 16.6583C15.4204 17.7262 14.1512 18.5714 12.7542 19.1451C11.3572 19.7187 9.86017 20.0093 8.34999 20C6.15213 20.0064 3.9992 19.3779 2.14999 18.19C2.47999 18.19 2.78999 18.19 3.14999 18.19C4.96345 18.19 6.72433 17.5808 8.14999 16.46C7.30493 16.4524 6.48397 16.1774 5.80489 15.6744C5.12581 15.1714 4.62349 14.4662 4.36999 13.66C4.62464 13.7006 4.88213 13.7207 5.13999 13.72C5.49714 13.7174 5.85281 13.6738 6.19999 13.59C5.2965 13.4056 4.48448 12.9147 3.90135 12.2003C3.31822 11.486 2.99981 10.5921 2.99999 9.67001C3.55908 9.97841 4.18206 10.153 4.81999 10.18C4.25711 9.80767 3.79593 9.30089 3.47815 8.7055C3.16038 8.11011 2.99604 7.44489 2.99999 6.77001C3.00124 6.06749 3.18749 5.37769 3.53999 4.77001C4.55172 6.01766 5.81423 7.03889 7.24575 7.76757C8.67727 8.49625 10.2459 8.91613 11.85 9.00001C11.7865 8.69737 11.753 8.38922 11.75 8.08001C11.7239 7.25689 11.9526 6.44578 12.4047 5.75746C12.8569 5.06913 13.5104 4.53714 14.2762 4.23411C15.0419 3.93109 15.8826 3.87181 16.6833 4.06437C17.484 4.25693 18.2057 4.69195 18.75 5.31001C19.655 5.12822 20.5214 4.78981 21.31 4.31001C21.0088 5.24317 20.3754 6.0332 19.53 6.53001C20.3337 6.44316 21.1194 6.23408 21.86 5.91001C21.3116 6.71097 20.6361 7.41694 19.86 8.00001H19.83Z' fill='#b4b4bb')
                svg.icon
                    use(xlink:href='#twitter')
                svg.hidden(width='0' height='0')
                    symbol#google-plus( xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24')
                        path(d='m14.969 11.814c.001.043.001.095.001.146 0 1.357-.336 2.635-.929 3.757l.021-.044c-.6 1.121-1.481 2.023-2.55 2.632l-.032.017c-1.066.6-2.34.953-3.696.953-.052 0-.104-.001-.155-.002h.008c-.006 0-.014 0-.022 0-1.065 0-2.078-.222-2.995-.623l.048.019c-1.848-.775-3.288-2.215-4.044-4.013l-.018-.049c-.382-.876-.604-1.896-.604-2.969s.222-2.093.623-3.018l-.019.049c.775-1.848 2.215-3.288 4.013-4.044l.049-.018c.87-.383 1.884-.606 2.951-.606h.018-.001c.037-.001.081-.001.125-.001 1.937 0 3.695.762 4.992 2.004l-.003-.003-2.073 1.99c-.755-.73-1.785-1.179-2.92-1.179-.042 0-.084.001-.126.002h.006c-.009 0-.02 0-.031 0-.864 0-1.671.24-2.36.657l.02-.011c-1.429.865-2.37 2.411-2.37 4.177s.941 3.312 2.348 4.165l.022.012c.668.406 1.476.646 2.339.646h.033-.002.052c.549 0 1.077-.088 1.572-.25l-.036.01c.455-.143.852-.347 1.204-.607l-.011.008c.31-.238.579-.507.81-.807l.008-.01c.198-.25.369-.535.5-.841l.009-.024c.093-.22.17-.478.22-.746l.004-.024h-4.334v-2.625h7.208c.078.382.124.821.126 1.27v.002zm9.031-1.273v2.189h-2.177v2.177h-2.189v-2.177h-2.174v-2.189h2.177v-2.177h2.189v2.177z')
                svg.icon
                    use(xlink:href='#google-plus')
                svg.hidden(width='0' height='0')
                    symbol#instagram(fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 -0.5 25 25')
                        path(d='M15.5 5H9.5C7.29086 5 5.5 6.79086 5.5 9V15C5.5 17.2091 7.29086 19 9.5 19H15.5C17.7091 19 19.5 17.2091 19.5 15V9C19.5 6.79086 17.7091 5 15.5 5Z' stroke='#b4b4bb' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
                        path(d='M12.5 15C10.8431 15 9.5 13.6569 9.5 12C9.5 10.3431 10.8431 9 12.5 9C14.1569 9 15.5 10.3431 15.5 12C15.5 12.7956 15.1839 13.5587 14.6213 14.1213C14.0587 14.6839 13.2956 15 12.5 15Z' stroke='#b4b4bb' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
                        rect(x='15.5' y='9' width='2' height='2' rx='1' transform='rotate(-90 15.5 9)')
                        rect(x='16' y='8.5' width='1' height='1' rx='0.5' transform='rotate(-90 16 8.5)' stroke='#b4b4bb' stroke-linecap='round')
                svg.icon
                    use(xlink:href='#instagram')