footer.footer
    .wrapper-flex
        a.footer__logo(href="index.html")  
            img.footer__logo-img(src="img/logo.png", alt="логотип")
            h2.footer__logo-text MISOCIAL  
        ul.footer__menu
            li.footer__item
                a.footer__link(href="#") Home
            li.footer__item
                a.footer__link(href="#")  Why MISOCIAL 
            li.footer__item
                a.footer__link(href="#") Features
            li.footer__item
                a.footer__link(href="#") Articles
            li.footer__item
                a.footer__link(href="#") Pricing
            li.footer__item
                a.footer__link--bordered(href="#") Get started
    .border
        .wrapper
            .border__text
                p.border__title © 2017 Mass Impressions & Tranmautritam. Make the right impression.
                div.svg    
                    svg.icon
                        use(xlink:href='#facebook')
                    svg.icon
                        use(xlink:href='#twitter')
                    svg.icon
                        use(xlink:href='#google-plus')
                    svg.icon
                        use(xlink:href='#instagram')
            
