header.header 
    +nav
    .header__divider
        span SOCIAL MARKETING &amp; ANALYTICS
    h1.header__title Pricing Table
    .header__description
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
      .header__circle
      