.footer 
    height: 202px
    padding-top: 50px

    .footer__logo
        display: flex
        text-decoration: none

.footer__logo-img
        width: 47px
        height: 47px
        margin: 9px

.footer__logo-text 
    font-size: 22px
    letter-spacing: 3px
    color: #37374a
    font-weight: 700

.footer__menu
    display: flex
    align-items: center
    list-style: none
    font-size: 12px
    letter-spacing: 1px
    line-height: 32px


.footer__item 
    margin: 0 15px

.footer__link:hover
    color: #6d45e1
    // text-decoration: underline

.footer__link
    text-decoration: none
    color:#6a6a77
    display: inline-block
    position: relative
    padding: 5px 0

.footer__link::after 
        content: ''
        position: absolute
        bottom: 0
        left: 50%
        width: 0
        height: 2px
        background-color: currentColor
        transition: width 0.3s, left 0.3s
        transform: translateX(-50%)

.footer__link:hover::after 
        width: 80px
        left: 50%


.footer__link--bordered 
    padding: 10px 10px
    border: 2px solid  #6d45e1
    border-radius: 25px
    text-decoration: none

a.footer__link--bordered:hover
        background-color: #6d45e1
        color: #fff
.border 
        width: calc(100% - 100px) 
        height: 1px 
        background-color: #bdbdc2 
        margin: 30px  auto

.border__text
            padding-top: 33px
            padding-right: 320px  
            margin: auto 
            color: #bdbdc2

.border__title
    font-size: 14px
    line-height: 19px
    color: #b4b4bb
    font-weight: 500
    font-family: "Maven Pro"
.icon
        fill:  #b4b4bb
        width: 25px 
        height: 25px 
        margin: 40px 10px 0 0
        line-height: 19px
        font-family: "Font Awesome"


