.header
    padding-top: 47px
    padding-bottom: 47px
    width: 1120px
    height: 570px
    background: linear-gradient(-60deg, rgba(135, 211, 205, 0), rgba(109, 69, 225, 1)), url("../img/galery.jpg") no-repeat center 

.navigation__logo
        display: flex
        text-decoration: none

.navigation__logo-img
        width: 48px
        height: 48px
        margin: 10px

.navigation__logo-text 
    font-size: 22px
    letter-spacing: 3px
    color: #fff
    font-weight: 700

.navigation__menu
    display: flex
    align-items: center
    list-style: none
    font-size: 12px
    letter-spacing: 1px
    line-height: 32px


.navigation__item 
    margin: 0 15px
   

.navigation__link
    text-decoration: none
    color:#fff


.navigation__link--bordered 
        padding: 10px 10px
        border: 2px solid #fff 
        border-radius: 25px 

.header__divider 
  margin: 104px auto 0 
  text-align: center 
  position: relative 
  font-size: 14px
  letter-spacing: 1px
  line-height: 32px
  text-transform: uppercase
  color: #ffffff
  font-weight: 700

  &::before, &::after 
    content: '' 
    display: inline-block 
    width: 20px 
    height: 1px 
    background-color: #ffffff 
    vertical-align: middle 
    margin: 10px 

  &__content 
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    z-index: 1

.header__title
  font-size: 86px
  letter-spacing: -3px
  line-height: 0px
  color: #ffffff
  font-weight: 500
  text-align: center

.header__description
  width: 387px
  font-size: 16px
  line-height: 28px
  color: #ffffff
  font-weight: 400
  text-align: center
  margin: 20px auto 0
.header__circle
    width: 64px
    height: 64px
    border-radius: 32px
    background-color: #ffffff
    margin: 70px auto 0
    position: relative
    filter: drop-shadow(0 0 10.5px rgba(204, 204, 223, 0.5))

.header__circle::before 
    content: ''
    display: block
    width: 0
    height: 0
    /* border-left: 2px solid transparent; */
    border-right: 1px solid #9fa4af
    border-top: 17px solid #9fa4af
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)



    



    



   